<!doctype html>
<html>
<head>
	<style>
		div{
			text-align:center;
		}
	</style>
</head>
<body>
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<script src="{{ url_for('static', filename='Histogram.js') }}"></script>
	<script src="{{ url_for('static', filename='Boxplot.js') }}"></script>
	<script src="{{ url_for('static', filename='Performance_wheel.js') }}"></script>

	<div id='summary_plot'></div>
	<div id='performace_plot'></div>
	<div id='explanation_plot'/></div>
    <script>
		function GetURLParameter(sParam)
		{
			var sPageURL = window.location.search.substring(1);
			console.log('Params')
			console.log(sPageURL)
			var sURLVariables = sPageURL.split('&');
			for (var i = 0; i < sURLVariables.length; i++) 
			{
				var sParameterName = sURLVariables[i].split('=');
				if (sParameterName[0] == sParam) 
				{
					return sParameterName[1];
				}
			}
		}
		if(GetURLParameter('performances')){
			var perfs = Array.from(GetURLParameter('performances').split(','));
			console.log('Moooo');
			console.log(perfs);
			if(perfs)
				perfs.forEach((p)=>new Performance_wheel('#performace_plot',p))

		}
			
		
		d3.csv('http:\\elaborate_dataset',function(data){
			console.log(data);
			new Boxplot('#explanation_plot',data);
			new Histogram('#explanation_plot',data);
		});
		

    </script>
</body>
