<!doctype html>
<html>
<head>
	<style>
		div{
			text-align:center;
		}
	</style>
</head>
<body>
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<script src="{{ url_for('static', filename='Histogram.js') }}"></script>
	<script src="{{ url_for('static', filename='Boxplot.js') }}"></script>
	<script src="{{ url_for('static', filename='Performance_wheel.js') }}"></script>

	<div id='summary_plot'></div>
	<div id='performace_plot'></div>
	<div id='explanation_plot'/></div>
	
    <script>
	
		function encode_params(params){
			var encoded ='?'
			for(var key in params) {
				encoded += key+'='+params[key]+'&'
			}
			return encoded.slice(0,-1);
		}
		function decode_parameters(){
			var url_params = new Object();
			var sPageURL = window.location.search.substring(1);
			var sURLVariables = sPageURL.split('&');

			for (var i = 0; i < sURLVariables.length; i++)
			{
				var sParameterName = sURLVariables[i].split('=');				
				url_params[sParameterName[0]] = sParameterName[1];
			}
			return url_params;
		}
	
		var url_params = decode_parameters();
		
		if(url_params['performances']){
			url_params['performances'].split(',').forEach((p)=>new Performance_wheel('#performace_plot',+p))
		}

		if(url_params['selection']){
			d3.csv('http:\\elaborate_dataset_id_'+url_params['selection'],function(data){
				console.log(data);
				new Boxplot('#explanation_plot',data);
				new Histogram('#explanation_plot',data);
			});
		}	
    </script>
</body>





<!-- OLD CODE -->
		<!-- var payload = { -->
			<!-- a: 1, -->
			<!-- b: 2, -->
			<!-- selected: '{{params}}' -->
		<!-- }; -->

		<!-- var data = new FormData(); -->
		<!-- data.append( "json", JSON.stringify( payload ) ); -->

		<!-- fetch("/elaborate_dataset", -->
		<!-- { -->
			<!-- method: "POST", -->
			<!-- body: data -->
		<!-- }) -->
		<!-- .then(function(res){ return res.text()}) -->
		<!-- .then(function(data){  -->
			<!-- csv =  d3.csvParse(data); -->
			<!-- new Boxplot('#explanation_plot',csv); -->
			<!-- new Histogram('#explanation_plot',csv); -->
		<!-- }) -->
