<!doctype html>
<html>
<head>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="{{ url_for('static', filename='Scatterplot.js') }}"></script>

</head>
<body>
    <script>
		function encode_params(params){
			var encoded ='?'
			for(var key in params) {
				encoded += key+'='+params[key]+'&'
			}
			return encoded.slice(0,-1);
		}
		function decode_parameters(){
			var url_params = new Object();
			var sPageURL = window.location.search.substring(1);
			var sURLVariables = sPageURL.split('&');
			for (var i = 0; i < sURLVariables.length; i++)
			{
				var sParameterName = sURLVariables[i].split('=');		
				if(sParameterName[1])
					url_params[sParameterName[0]] = sParameterName[1];
			}
			return url_params;
		}
		 
		var url_params = decode_parameters();
		
		d3.csv('http:\\test_scatter_d3'+encode_params(url_params),function(data){
			console.log(data);
			b = new Scatterplot('body',data);
		});
		

    </script>
</body>
